.leftbar {
  flex: 0.2;
  height: 100vh;
  background-color: rgb(0, 63, 84);
  position: sticky;
  left: 0;
  top: 0;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
}
.leftbar h2 {
  color: crimson;
  letter-spacing: 0.1rem;
}
.leftbar a {
  text-decoration: none;
  color: aliceblue;
  padding: 2rem;
  transition: 0.5s ease;
}
.leftbar a:hover,
.leftbar h2:hover {
  color: tomato;
}
.leftbar p {
  display: flex;
  align-items: center;
}
.leftbar p svg {
  margin-right: 1rem;
}
